body { background-color:#FF8000; color:#000000; font-family:Arial; }

h1 { color:#804000; font-family:Arial; font-size:12pt; padding-left: 3px; }
h2 { color:#004000; font-family:Arial; font-size:12pt; padding-left: 4px; }
h3 { color:#004000; font-family:Arial; font-size:11pt; padding-left: 5px; }
p.content-normal { color:#212121; font-family:Arial; font-size:0.9em; padding-left: 15px; padding-bottom: 12px; }
p.content-small { color:#212121; font-family:Arial; font-size:0.8em; padding-left: 15px; padding-bottom: 12px; }
p.tagline { color:#EE2222; font-family:Helvetica; font-size:13pt; font-weight:bold; text-align: center; }
p.heading { color:#002040; font-family:Arial; font-size:10pt; font-weight:bold; padding-left: 5px; }
p.namo-list { color:black; font-family:Arial; font-size:12; }
p.namo-sublist { color:#006030; font-family:Arial; font-size:10; }
table.namo-table { border-left-color:#FFFF80; border-top-color:#FFFF80; border-right-color:#804000; border-bottom-color:#804000; }
table.namo-table td { border-left-color:#804000; border-top-color:#804000; border-right-color:#FFFF80; border-bottom-color:#FFFF80; }
table.namo-table th { background-color:#FF8000; border-left-color:#804000; border-top-color:#804000; border-right-color:#FFFF80; border-bottom-color:#FFFF80; }
span.namo-link, a:link { color:yellow; text-decoration:underline; }
span.namo-visited, a:visited { color:gray; text-decoration:underline; }
span.namo-active, a:active { color:green; text-decoration:underline; }
li.namo-list1 { list-style-image:url('nav/bullet1.gif'); }
li.namo-list2 { list-style-image:url('nav/bullet2.gif'); }

ol li { color:#212121; font-family:Arial; font-size:0.85em; padding-left: 5px; padding-bottom: 5px; }
ul li { color:#212121; font-family:Arial; font-size:0.85em; padding-left: 5px; padding-bottom: 5px; }

dl.faqs { color:#212121; font-family:Arial; padding-top: 5px; padding-bottom: 5px; }
dl.faqs dt { color:#212121; font-family:Arial; font-size:0.85em; font-weight: bold; padding-left: 10px; padding-bottom: 5px; }
dl.faqs dd { color:#212121; font-family:Arial; font-size:0.8em; padding-left: 20px; padding-bottom: 10px; }

a:link { color: #6e6e6e; }
a:visited { color: #6e6e6e; }
a:focus { color: #3b3b3b; }
a:active { color: #4c4c4c; }
a:hover { color: #2a2a2a; }
div.copyright {font-size:0.75em; margin:5px; padding-bottom: 10px;}
div.copyright a:link { color: #4c4c4c; }
div.copyright a:visited { color: #4c4c4c; }
div.copyright a:focus { color: #191919; }
div.copyright a:active { color: #2a2a2a; }
div.copyright a:hover { color: #080808; }

@media print {
   td.side-navbar { display: none; }
}
